name: noisitor

services:
  www:
    build: ./noisitor-www
    ports:
      - 8000:8000
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}

  monitor:
    build: ./noisitord
    environment:
      - NOISITOR_IFACE=${NOISITOR_IFACE}
      - NOISITOR_PORTS=${NOISITOR_PORTS}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - NOISITORD_DEBUG=${NOISITORD_DEBUG}
    volumes:
      - ./ip2location:/ip2location
    network_mode: "host"
    cap_add:
      - NET_ADMIN

  db:
    image: mongo
    restart: always
    volumes:
      - ./db:/data/db
    ports:
      - 27017:${DB_PORT}
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${DB_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${DB_PASSWORD}
