<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noisitor</title>
  </head>
  <body>
    <div id="app">
      <div class="header" class="pico">
        <h1>Noisitor</h1>
        <!-- TODO: Fetch uptime only once and update it locally in the browser -->
        <h6 hx-get="/htmx/uptime" hx-trigger="every 1s">Loading...</h6>
      </div>

      <div id="app-grid" class="grid">
        <div id="left-column" class="pico">
          <p>Unique IPs logged:</p>
          <h1 hx-get="/data/unique-ips" hx-trigger="every 5s">Loading...</h1>
          <br />
          <p>Events logged:</p>
          <h1 hx-get="/data/total-events" hx-trigger="every 5s">Loading...</h1>
          <br />
        </div>
        <div id="middle-column">
          <div id="ip-map"></div>
        </div>
        <div id="right-column" class="pico">
          <p>Last 50 unique IPs:</p>
          <div
            id="last-events-container"
            hx-get="/htmx/last-events"
            hx-trigger="every 5s"
          ></div>
        </div>
      </div>
    </div>
    <script type="module" src="/main.js"></script>
  </body>
</html>
