app {
  display: flex;
}

.header {
  text-align: center;
  width: 100%;
  margin: 20px;
}

#ip-map {
  height: 400px;
}

#app-grid {
  padding: 30px;
}

#last-events-container {
  overflow: auto;
  height: 600px;
}

.last-event {
  outline: 1px;
  outline-style: solid;
  outline-color: red;
  margin: 20px;
  padding: 5px;
}
