.site-contents {
  padding: 30px;
}

#header {
  text-align: center;
  width: 100% - 20px;
  margin: 20px;
}

.map {
  height: 400px;
}

#last-events-container {
  overflow: auto;
  height: 70vh;
}

.wide-button {
  width: 100%;
}
