@font-face {
  font-family: "PoetsenOne";
  src: local("PoetsenOne-Regular"), url("/PoetsenOne-Regular.ttf");
}

.site-contents {
  padding: 30px;
}

#header {
  text-align: center;
  width: 100% - 20px;
  margin: 20px;
}

.map {
  height: 400px;
}

#last-events-container {
  overflow: auto;
  height: 70vh;
}

.wide-button {
  width: 100%;
}

#logo {
  width: 50px;
  height: 50px;
}

#name-link {
  font-family: "PoetsenOne";
}
